table  { margin-top:  20px; display: inline-block; overflow: scroll; }
th div { margin-top: 0px; position: absolute; }

/* design */
table { border-collapse: collapse; }

.asteriskField {
    display: none;
}

.error-msg {
    color: red;
    margin-top: 1rem;
}

.card {
    text-align: center;


    justify-content: center;
    margin-top: 4rem;
    box-shadow:
    0.2px 1px 5.3px rgba(0, 0, 0, 0.028),
    0.5px 2.4px 12.6px rgba(0, 0, 0, 0.04),
    1px 4.5px 23.8px rgba(0, 0, 0, 0.05),
    1.8px 8px 42.4px rgba(0, 0, 0, 0.06),
    3.3px 15px 79.4px rgba(0, 0, 0, 0.072),
    8px 36px 190px rgba(0, 0, 0, 0.1)
    ;
}

.card.reports {
    display: flex !important;
    align-items: center;
}

.card form {
    padding: 1rem;
}

.table {
    overflow: auto !important;
}

.container{
    margin-top: 1rem;
    text-align: center
}


.card img {

    width: 35rem;
    height: 20rem;
}
